{% extends "base.html.twig" %}

{% block title %}Rozszyfruj kombinację klawiatury{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<a href="{{path('app_index')}}"> &lt;- Powrót do strony głównej</a>

<h1>Rozszyfruj słowo z klawiatury</h1>


{{ form_start(keyboardForm) }}

    <div>
        {{form_label(keyboardForm.word)}}
        {{form_widget(keyboardForm.word)}}
        {% if form_errors(keyboardForm.word) %}
            <div class="error">{{ form_errors(keyboardForm.word) }}</div>
        {% endif %}
    </div>


    <div>
        <div>{{form_label(keyboardForm.combinations)}}</div>
        <div>{{form_widget(keyboardForm.combinations)}}</div>
        {% if form_errors(keyboardForm.combinations) %}
            <div class="error">{{ form_errors(keyboardForm.combinations) }}</div>
        {% endif %}
    </div>

    <div>
        <button type="submit">Rozszyfruj</button>
    </div>
{{ form_end(keyboardForm) }}

<br/>
{{keyboard.decodedWord ? "<h2>Wynik</h2>" : "" }}

{% if keyboard.decodedWord %}
    Twoje słowo na podanej klawiaturze to: {{keyboard.decodedWord}}
{% endif %}
<br/><br/>




<br/><br/>




{% endblock %}